* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  max-width: 900px;
  position: relative;

  & > img {
    width: 100%;
    display: block;
  }

  .thumbnail {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    & img {
      display: block;
      width: 100%;
      height: calc(100% / 5);
    }
  }

  .prev,
  .next {
    position: absolute;
  }

  .prev {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .next {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, +50%);
  }
}
