/* GENERAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region LAYOUT */

.row {
  display: flex;
  flex-wrap: wrap;
}

/* COLUMNS */

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/* #endregion LAYOUT */

/* #region RESPONSIVE LAYOUT */

@media screen and (min-width: 480px) {
  .col-xs-1 {
    width: calc(100% / 12);
  }

  .col-xs-2 {
    width: calc(100% / 12 * 2);
  }

  .col-xs-3 {
    width: calc(100% / 12 * 3);
  }

  .col-xs-4 {
    width: calc(100% / 12 * 4);
  }

  .col-xs-5 {
    width: calc(100% / 12 * 5);
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: calc(100% / 12 * 7);
  }

  .col-xs-8 {
    width: calc(100% / 12 * 8);
  }

  .col-xs-9 {
    width: calc(100% / 12 * 9);
  }

  .col-xs-10 {
    width: calc(100% / 12 * 10);
  }

  .col-xs-11 {
    width: calc(100% / 12 * 11);
  }

  .col-xs-12 {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: calc(100% / 12);
  }

  .col-sm-2 {
    width: calc(100% / 12 * 2);
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }

  .col-sm-5 {
    width: calc(100% / 12 * 5);
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: calc(100% / 12 * 7);
  }

  .col-sm-8 {
    width: calc(100% / 12 * 8);
  }

  .col-sm-9 {
    width: calc(100% / 12 * 9);
  }

  .col-sm-10 {
    width: calc(100% / 12 * 10);
  }

  .col-sm-11 {
    width: calc(100% / 12 * 11);
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: calc(100% / 12);
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: calc(100% / 12);
  }

  .col-xl-2 {
    width: calc(100% / 12 * 2);
  }

  .col-xl-3 {
    width: calc(100% / 12 * 3);
  }

  .col-xl-4 {
    width: calc(100% / 12 * 4);
  }

  .col-xl-5 {
    width: calc(100% / 12 * 5);
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: calc(100% / 12 * 7);
  }

  .col-xl-8 {
    width: calc(100% / 12 * 8);
  }

  .col-xl-9 {
    width: calc(100% / 12 * 9);
  }

  .col-xl-10 {
    width: calc(100% / 12 * 10);
  }

  .col-xl-11 {
    width: calc(100% / 12 * 11);
  }

  .col-xl-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: calc(100% / 12);
  }

  .col-xxl-2 {
    width: calc(100% / 12 * 2);
  }

  .col-xxl-3 {
    width: calc(100% / 12 * 3);
  }

  .col-xxl-4 {
    width: calc(100% / 12 * 4);
  }

  .col-xxl-5 {
    width: calc(100% / 12 * 5);
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: calc(100% / 12 * 7);
  }

  .col-xxl-8 {
    width: calc(100% / 12 * 8);
  }

  .col-xxl-9 {
    width: calc(100% / 12 * 9);
  }

  .col-xxl-10 {
    width: calc(100% / 12 * 10);
  }

  .col-xxl-11 {
    width: calc(100% / 12 * 11);
  }

  .col-xxl-12 {
    width: 100%;
  }
}

/* #endregion RESPONSIVE LAYOUT */

/* #region DISPLAYS */

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-grid {
  display: grid;
}

.d-list-item {
  display: list-item;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

/* #endregion DISPLAYS */

/* #region FLEX */

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}
/* #endregion FLEX */

/* SPACING */

/* #region GAPS */

.g-0 {
  gap: 0;
}

.g-1 {
  gap: 0.5rem;
}

.g-2 {
  gap: 1rem;
}

.g-3 {
  gap: 1.5rem;
}

.g-4 {
  gap: 2rem;
}

.g-5 {
  gap: 2.5rem;
}

.g-6 {
  gap: 3rem;
}

/* #endregion GAPS */

/* #region MARGINS */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.m-1 {
  margin: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.m-6 {
  margin: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

/* #endregion MARGINS */

/* #region PADDINGS */

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.p-1 {
  padding: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.p-6 {
  padding: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pr-6 {
  padding-right: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.pl-6 {
  padding-left: 3rem;
}

/* #endregion PADDINGS */

/* #region FONT */

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.fs-1 {
  font-size: 0.8rem;
}

.fs-2 {
  font-size: 1rem;
}

.fs-3 {
  font-size: 1.2rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 2rem;
}

.fs-6 {
  font-size: 2.5rem;
}

.fs-7 {
  font-size: 3rem;
}

.fs-8 {
  font-size: 4rem;
}

/* #endregion FONT */

/* #region WIDTHS HEIGHTS */
.vw-100 {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.h-60 {
  height: 60%;
}

.h-50 {
  height: 50%;
}

.h-40 {
  height: 40%;
}

.h-30 {
  height: 30%;
}

.h-20 {
  height: 20%;
}

.h-10 {
  height: 10%;
}
/* #endregion WIDTHS HEIGHTS */
